/* INITIAL STYLE */
/*1113*/
html {
    font-size: 15px;
}

body {
    min-width: 600px;
    min-height: 600px;

    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    color: #000;
    background-color: #fff;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.page {
    
    height: 100%;
}

/* HEADER */

header {
    color: #fff;
}

.mogo-header {
    height: 100%;
    width: 100%;

    background:#FFF
    url("../img/bg.jpg") center
    no-repeat;
    background-size: cover;
}

.header-inner {
    width: 100%;
    
    display: flex;
    justify-content: space-between;

    padding-top: 2rem;
    margin-bottom:186px;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.header-nav-bar {
    display: flex;
    align-items: center;
}

.header-nav-link {
    margin-left: 56px;

    font-size: 14px;
    font-weight: 400;

    color: #fff;
    text-decoration: none;
    position: relative;
}

.cart, .search {
    margin-left: 56px;
}

.header-nav-link.active {
    color: #fce38a;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fce38a;

    position: absolute;
    
    left: 0;
    bottom: -12px;
}

.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.kaushan-72 {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
}

.kaushan-24 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
}

.bold {
    margin-bottom: 0;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
}

.stroke {
    margin-top: 73px;

    width: 4rem;
    height: 3px;

    background-color: #fff;
}

.learn-more {
    font-size: 14px;
    font-weight: 700;

    width: 154px;
    height: 34px;

    margin-top: 50px;
    margin-bottom: 230px;

    color: #fff;
    background-color: #00000000;
    border: 3px solid #fff;

    transition: all .2s;
}

.learn-more:hover {
    background-color: #fce38a;
    border-color: #fce38a;
}

.learn-more:active {
    background-color: #f3c933;
    border-color: #f3c933;
}


/* CONTENT */

.container {
    margin: 0 auto;

    max-width: 1200px;
}

.story-about {
    margin: 100px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-about-txt {
    margin-top: 25px;

    font-size: 2rem;
    font-weight: 700;
}

.stroke-red {
    margin-top: 42px;

    width: 4rem;
    height: 3px;

    background-color: #f38181;
}

.lorem {
    margin-top: 50px;
    max-width: 955px;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
    text-align: center;
}

.photo-row {
    margin-top: 95px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

/*
.about-img {
    transition: top .4s;
}

.about-img:hover {
    top: 5px;
    left: -6px;    
}
*/

.statistic-info {
    margin-top: 105px;

    width: 100%;

    display: flex;
    justify-content: space-around;
}